[tool.black]
line-length = 88
target-version = ["py310", "py311"]
exclude = '''
/(
    \.venv
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 88
include_trailing_comma = true

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503"]
exclude = [
    ".venv",
    "build",
    "dist",
]

[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
strict = false
